$primary_color: #34d1d1;
$primary_background: #e5f5f4;
$primary_background_light: #e5f5f44d;

$text_primary: #0c3c3d;
$text_light: rgba(108, 108, 108, 0.5);

$gray: #eeeeee;

$success: #4CAF50;
$error: #FF5722;